Repository govuk-one-login/adoption-application-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/sse-sres, @alphagov/di-sse-approvers, @govuk-one-login/sse-approvers

Update README.md
  README.md
Owners: @govuk-one-login/sse-sres

Initial pipeline workflow.
  .github/workflows/build-deploy-self-service-config.yml
  self-service/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

New test deployment.
  self-service/config.template.yml
Owners: @govuk-one-login/sse-approvers

Workflows.
  .github/workflows/build-deploy-self-service-config.yml
  self-service/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Workflows.
  .github/workflows/build-deploy-self-service-config.yml
  self-service/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Workflows.
  self-service/config.template.yml
Owners: @govuk-one-login/sse-approvers

Updated workflow.
  .github/workflows/build-deploy-self-service-config.yml
  self-service/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated workflow.
  .github/workflows/build-deploy-self-service-config.yml
Owners: @govuk-one-login/sse-sres

Updated workflow.
  self-service/config.template.yml
Owners: @govuk-one-login/sse-approvers

Updated workflows.
  .github/workflows/build-deploy-self-service-config.yml
  self-service/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated.
  .github/workflows/build-deploy-self-service-config.yml
Owners: @govuk-one-login/sse-sres

Updated workflow.
  .github/workflows/build-deploy-self-service-config.yml
Owners: @govuk-one-login/sse-sres

Updated workflow.
  .github/workflows/build-deploy-self-service-config.yml
Owners: @govuk-one-login/sse-sres

Updated workflow.
  .github/workflows/build-deploy-self-service-config.yml
Owners: @govuk-one-login/sse-sres

Updated.
  .github/workflows/build-deploy-self-service-config.yml
  self-service/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated.
  self-service/config.template.yml
Owners: @govuk-one-login/sse-approvers

Added product pages.
  .github/workflows/deploy-pp-config.yml
  .github/workflows/deploy-sse-config.yml
  README.md
  product-pages/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated product pages parameters.
  .github/workflows/deploy-pp-config.yml
  .github/workflows/deploy-sse-config.yml
  product-pages/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Added pre-merge checks.
  .github/workflows/test-config.yml
Owners: @govuk-one-login/sse-sres

Updated linting.
  .github/workflows/test-config.yml
Owners: @govuk-one-login/sse-sres

Testing pre-merge checks.
  self-service/config.template.yml
Owners: @govuk-one-login/sse-approvers

Testing pre-merge checks.
  self-service/config.template.yml
Owners: @govuk-one-login/sse-approvers

Update config.template.yml
  product-pages/config.template.yml
Owners: @govuk-one-login/sse-approvers

Removed local prefix by default.
  README.md
  product-pages/config.template.yml
  self-service/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated github workflows.
  .github/workflows/deploy-pp-config.yml
  .github/workflows/deploy-sse-config.yml
Owners: @govuk-one-login/sse-sres

Update config.template.yml
  product-pages/config.template.yml
Owners: @govuk-one-login/sse-approvers

Updated environment name test.
  product-pages/config.template.yml
Owners: @govuk-one-login/sse-approvers

Reverted values.
  product-pages/config.template.yml
Owners: @govuk-one-login/sse-approvers

Changed to existing values.
  README.md
  product-pages/config.template.yml
  product-pages/import.json
  self-service/config.template.yml
  self-service/import.json
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated retain policy.
  product-pages/config.template.yml
  self-service/config.template.yml
Owners: @govuk-one-login/sse-approvers

Updated pipelines.
  product-pages/import.json
  scripts/import-config.sh
  self-service/config.template.yml
  self-service/import.json
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-sres

Updated script linting.
  scripts/import-config.sh
Owners: @govuk-one-login/sse-sres

Updated secure pipelines for full deployment.
  .github/workflows/deploy-pp-config.yml
  .github/workflows/deploy-sse-config.yml
  product-pages/config.template.yml
  self-service/config.template.yml
Owners: @govuk-one-login/sse-sres, @govuk-one-login/sse-approvers

Updated cognito external IDs.
  self-service/config.template.yml
Owners: @govuk-one-login/sse-approvers

Update config.template.yml
  product-pages/config.template.yml
Owners: @govuk-one-login/sse-approvers

Enable JIRA in production
  product-pages/config.template.yml
Owners: @govuk-one-login/sse-approvers

Enable JIRA in production
  product-pages/config.template.yml
Owners: @govuk-one-login/sse-approvers

.github/CODEOWNERS:

# Global
*   @govuk-one-login/sse-sres

# Application pipelines
/self-service/      @alphagov/di-sse-approvers
/self-service/      @govuk-one-login/sse-approvers
/product-pages/      @alphagov/di-sse-approvers
/product-pages/      @govuk-one-login/sse-approvers
